<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:bc="http://typo3.org/ns/Sonority/BootstrapComponents/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<f:format.raw>
		<div id="accordion-{data.uid}"{bc:attribute(values:{0:'accordion panel-group',1:gridClasses})}>
			<f:if condition="{data.tx_gridelements_view_children}">
				<f:then>
					<f:for each="{data.tx_gridelements_view_children}" as="child" iteration="iterator">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{data.uid}" href="#{child.uid}-{bc:formatString(title:child.header)}">
										<f:if condition="{child.header_icon}"><span class="{child.header_icon}"></span> </f:if>{child.header}
									</a>
								</h4>
							</div>
							<div id="{child.uid}-{bc:formatString(title:child.header)}" class="panel-collapse collapse{f:if(condition:'{iterator.isFirst}', then:' in')}">
								<div class="panel-body">
									<bc:variableObject data="{data}" keys="{0:'tx_gridelements_view_child_',1:child.uid}" />
								</div>
							</div>
						</div>
					</f:for>
				</f:then>
				<f:else>
					<span class="">no content elements found</span>
				</f:else>
			</f:if>
		</div>
	</f:format.raw>
</html>